<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.gruul.platform.mapper.AuthTokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.medusa.gruul.platform.api.entity.AuthToken">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="deleted"/>
        <result column="authorizer_appid" property="authorizerAppid"/>
        <result column="authorizer_access_token" property="authorizerAccessToken"/>
        <result column="expires_in" property="expiresIn"/>
        <result column="authorizer_refresh_token" property="authorizerRefreshToken"/>
        <result column="func_info" property="funcInfo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        is_deleted,
        id, authorizer_appid, authorizer_access_token, expires_in, authorizer_refresh_token, func_info
    </sql>

</mapper>
