<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.gruul.platform.mapper.PlatformShopTemplateDetailMinisMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.medusa.gruul.platform.api.entity.PlatformShopTemplateDetailMinis">
        <id column="id" property="id"/>
        <result column="is_deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="code_templete_id" property="codeTempleteId"/>
        <result column="code_templete_version" property="codeTempleteVersion"/>
        <result column="version_explain" property="versionExplain"/>
        <result column="shop_template_detail_id" property="shopTemplateDetailId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        is_deleted,
        create_time,
        update_time,
        id, code_templete_id, code_templete_version, version_explain, shop_template_detail_id
    </sql>
</mapper>
