<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medusa.gruul.sms.dao.mapper.TSmsOrderSendDetailHisEntityMapper">
    <resultMap id="BaseResultMap" type="com.medusa.gruul.sms.dao.entity.TSmsOrderSendDetailHisEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
          <result column="user_id" property="userId" jdbcType="BIGINT"/>
          <result column="sms_send_time" property="smsSendTime" jdbcType="BIGINT"/>
          <result column="sms_send_report_status" property="smsSendReportStatus" jdbcType="TINYINT"/>
          <result column="sms_send_report_code" property="smsSendReportCode" jdbcType="VARCHAR"/>
          <result column="sms_send_report_msg" property="smsSendReportMsg" jdbcType="VARCHAR"/>
          <result column="sms_send_mobile" property="smsSendMobile" jdbcType="VARCHAR"/>
          <result column="sms_send_report_sms_size" property="smsSendReportSmsSize" jdbcType="INTEGER"/>
          <result column="sms_send_report_time" property="smsSendReportTime" jdbcType="TIMESTAMP"/>
          <result column="sms_send_content" property="smsSendContent" jdbcType="VARCHAR"/>
          <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
          <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
          <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, user_id,  sms_send_time,  sms_send_report_status,  sms_send_report_code,  sms_send_report_msg,  sms_send_mobile,  sms_send_report_sms_size,  sms_send_report_time,  sms_send_content,  is_deleted,  create_time,  update_time, update_time 
    </sql>

    <!-- 根据id实现条件查询-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_sms_order_send_detail_his_201912
        where id =  #{id}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_sms_order_send_detail_his_201912  where id =  #{id}
    </delete>


    <insert id="insert" parameterType="com.medusa.gruul.sms.dao.entity.TSmsOrderSendDetailHisEntity">
        <selectKey resultType="Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sms_order_send_detail_his_201912 ( id,
	      user_id,
          sms_send_time,
          sms_send_report_status,
          sms_send_report_code,
          sms_send_report_msg,
          sms_send_mobile,
          sms_send_report_sms_size,
          sms_send_report_time,
          sms_send_content,
          is_deleted,
          create_time,
          update_time,
        )
        values ( #{id},
         #{userId,jdbcType=BIGINT},
         #{smsSendTime,jdbcType=BIGINT},
         #{smsSendReportStatus,jdbcType=TINYINT},
         #{smsSendReportCode,jdbcType=VARCHAR},
         #{smsSendReportMsg,jdbcType=VARCHAR},
         #{smsSendMobile,jdbcType=VARCHAR},
         #{smsSendReportSmsSize,jdbcType=INTEGER},
         #{smsSendReportTime,jdbcType=TIMESTAMP},
         #{smsSendContent,jdbcType=VARCHAR},
         #{isDeleted,jdbcType=TINYINT},
         #{createTime,jdbcType=TIMESTAMP},
         #{updateTime,jdbcType=TIMESTAMP},
         )

    </insert>


    <insert id="insertSelective" parameterType="com.medusa.gruul.sms.dao.entity.TSmsOrderSendDetailHisEntity">
        <selectKey resultType="Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into  t_sms_order_send_detail_his_201912
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
            id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="smsSendTime != null">
                sms_send_time,
            </if>
            <if test="smsSendReportStatus != null">
                sms_send_report_status,
            </if>
            <if test="smsSendReportCode != null">
                sms_send_report_code,
            </if>
            <if test="smsSendReportMsg != null">
                sms_send_report_msg,
            </if>
            <if test="smsSendMobile != null">
                sms_send_mobile,
            </if>
            <if test="smsSendReportSmsSize != null">
                sms_send_report_sms_size,
            </if>
            <if test="smsSendReportTime != null">
                sms_send_report_time,
            </if>
            <if test="smsSendContent != null">
                sms_send_content,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
            #{id},
            </if>
                 <if test="userId != null">
                     #{userId,jdbcType=BIGINT},
                 </if>
                 <if test="smsSendTime != null">
                     #{smsSendTime,jdbcType=BIGINT},
                 </if>
                 <if test="smsSendReportStatus != null">
                     #{smsSendReportStatus,jdbcType=TINYINT},
                 </if>
                 <if test="smsSendReportCode != null">
                     #{smsSendReportCode,jdbcType=VARCHAR},
                 </if>
                 <if test="smsSendReportMsg != null">
                     #{smsSendReportMsg,jdbcType=VARCHAR},
                 </if>
                 <if test="smsSendMobile != null">
                     #{smsSendMobile,jdbcType=VARCHAR},
                 </if>
                 <if test="smsSendReportSmsSize != null">
                     #{smsSendReportSmsSize,jdbcType=INTEGER},
                 </if>
                 <if test="smsSendReportTime != null">
                     #{smsSendReportTime,jdbcType=TIMESTAMP},
                 </if>
                 <if test="smsSendContent != null">
                     #{smsSendContent,jdbcType=VARCHAR},
                 </if>
                 <if test="isDeleted != null">
                     #{isDeleted,jdbcType=TINYINT},
                 </if>
                 <if test="createTime != null">
                     #{createTime,jdbcType=TIMESTAMP},
                 </if>
                 <if test="updateTime != null">
                     #{updateTime,jdbcType=TIMESTAMP},
                 </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.medusa.gruul.sms.dao.entity.TSmsOrderSendDetailHisEntity">
        update t_sms_order_send_detail_his_201912
        <set>
            <if test="id != null">
            id =  #{id},
            </if>
               <if test="userId != null">
                   user_id = #{userId,jdbcType=BIGINT},
               </if>
               <if test="smsSendTime != null">
                   sms_send_time = #{smsSendTime,jdbcType=BIGINT},
               </if>
               <if test="smsSendReportStatus != null">
                   sms_send_report_status = #{smsSendReportStatus,jdbcType=TINYINT},
               </if>
               <if test="smsSendReportCode != null">
                   sms_send_report_code = #{smsSendReportCode,jdbcType=VARCHAR},
               </if>
               <if test="smsSendReportMsg != null">
                   sms_send_report_msg = #{smsSendReportMsg,jdbcType=VARCHAR},
               </if>
               <if test="smsSendMobile != null">
                   sms_send_mobile = #{smsSendMobile,jdbcType=VARCHAR},
               </if>
               <if test="smsSendReportSmsSize != null">
                   sms_send_report_sms_size = #{smsSendReportSmsSize,jdbcType=INTEGER},
               </if>
               <if test="smsSendReportTime != null">
                   sms_send_report_time = #{smsSendReportTime,jdbcType=TIMESTAMP},
               </if>
               <if test="smsSendContent != null">
                   sms_send_content = #{smsSendContent,jdbcType=VARCHAR},
               </if>
               <if test="isDeleted != null">
                   is_deleted = #{isDeleted,jdbcType=TINYINT},
               </if>
               <if test="createTime != null">
                   create_time = #{createTime,jdbcType=TIMESTAMP},
               </if>
               <if test="updateTime != null">
                   update_time = #{updateTime,jdbcType=TIMESTAMP},
               </if>
        </set>
        where id =  #{id}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.medusa.gruul.sms.dao.entity.TSmsOrderSendDetailHisEntity">
        update t_sms_order_send_detail_his_201912
        set 
        user_id = #{userId,jdbcType=BIGINT},

        sms_send_time = #{smsSendTime,jdbcType=BIGINT},

        sms_send_report_status = #{smsSendReportStatus,jdbcType=TINYINT},

        sms_send_report_code = #{smsSendReportCode,jdbcType=VARCHAR},

        sms_send_report_msg = #{smsSendReportMsg,jdbcType=VARCHAR},

        sms_send_mobile = #{smsSendMobile,jdbcType=VARCHAR},

        sms_send_report_sms_size = #{smsSendReportSmsSize,jdbcType=INTEGER},

        sms_send_report_time = #{smsSendReportTime,jdbcType=TIMESTAMP},

        sms_send_content = #{smsSendContent,jdbcType=VARCHAR},

        is_deleted = #{isDeleted,jdbcType=TINYINT},

        create_time = #{createTime,jdbcType=TIMESTAMP},

        update_time = #{updateTime,jdbcType=TIMESTAMP},
        where  id =  #{id}
    </update>


    <select id="searchByEntityCount" resultType="java.lang.Integer" parameterType="com.medusa.gruul.sms.dao.entity.TSmsOrderSendDetailHisEntity">
        select count(*)
        from  t_sms_order_send_detail_his_201912
        <where>
            <if test="id != null">
                  id = #{id,jdbcType=BIGINT}
            </if>
               <if test="userId != null">
                   AND user_id = #{userId,jdbcType=BIGINT}
               </if>
               <if test="smsSendTime != null">
                   AND sms_send_time = #{smsSendTime,jdbcType=BIGINT}
               </if>
               <if test="smsSendReportStatus != null">
                   AND sms_send_report_status = #{smsSendReportStatus,jdbcType=TINYINT}
               </if>
               <if test="smsSendReportCode != null">
                   AND sms_send_report_code = #{smsSendReportCode,jdbcType=VARCHAR}
               </if>
               <if test="smsSendReportMsg != null">
                   AND sms_send_report_msg = #{smsSendReportMsg,jdbcType=VARCHAR}
               </if>
               <if test="smsSendMobile != null">
                   AND sms_send_mobile = #{smsSendMobile,jdbcType=VARCHAR}
               </if>
               <if test="smsSendReportSmsSize != null">
                   AND sms_send_report_sms_size = #{smsSendReportSmsSize,jdbcType=INTEGER}
               </if>
               <if test="smsSendReportTime != null">
                   AND sms_send_report_time = #{smsSendReportTime,jdbcType=TIMESTAMP}
               </if>
               <if test="smsSendContent != null">
                   AND sms_send_content = #{smsSendContent,jdbcType=VARCHAR}
               </if>
               <if test="isDeleted != null">
                   AND is_deleted = #{isDeleted,jdbcType=TINYINT}
               </if>
               <if test="createTime != null">
                   AND create_time = #{createTime,jdbcType=TIMESTAMP}
               </if>
               <if test="updateTime != null">
                   AND update_time = #{updateTime,jdbcType=TIMESTAMP}
               </if>
        </where>
    </select>


    <select id="searchByEntity" resultMap="BaseResultMap" parameterType="com.medusa.gruul.sms.dao.entity.TSmsOrderSendDetailHisEntity">
        select
        <include refid="Base_Column_List"/>
        from  t_sms_order_send_detail_his_201912
        <where>
            <if test="id != null">
            id = #{id,jdbcType=BIGINT}
            </if>
               <if test="userId != null">
                   AND    user_id = #{userId,jdbcType=BIGINT}
               </if>
               <if test="smsSendTime != null">
                   AND    sms_send_time = #{smsSendTime,jdbcType=BIGINT}
               </if>
               <if test="smsSendReportStatus != null">
                   AND    sms_send_report_status = #{smsSendReportStatus,jdbcType=TINYINT}
               </if>
               <if test="smsSendReportCode != null">
                   AND    sms_send_report_code = #{smsSendReportCode,jdbcType=VARCHAR}
               </if>
               <if test="smsSendReportMsg != null">
                   AND    sms_send_report_msg = #{smsSendReportMsg,jdbcType=VARCHAR}
               </if>
               <if test="smsSendMobile != null">
                   AND    sms_send_mobile = #{smsSendMobile,jdbcType=VARCHAR}
               </if>
               <if test="smsSendReportSmsSize != null">
                   AND    sms_send_report_sms_size = #{smsSendReportSmsSize,jdbcType=INTEGER}
               </if>
               <if test="smsSendReportTime != null">
                   AND    sms_send_report_time = #{smsSendReportTime,jdbcType=TIMESTAMP}
               </if>
               <if test="smsSendContent != null">
                   AND    sms_send_content = #{smsSendContent,jdbcType=VARCHAR}
               </if>
               <if test="isDeleted != null">
                   AND    is_deleted = #{isDeleted,jdbcType=TINYINT}
               </if>
               <if test="createTime != null">
                   AND    create_time = #{createTime,jdbcType=TIMESTAMP}
               </if>
               <if test="updateTime != null">
                   AND    update_time = #{updateTime,jdbcType=TIMESTAMP}
               </if>
        </where>
    </select>


</mapper>
