.b {
    border:1px solid #d8dce5;
}
.bt {
    border-top: 1px solid #d8dce5;
}
.bb {
    border-bottom: 1px solid #d8dce5;
}
.bl {
    border-left: 1px solid #d8dce5;
}
.br {
    border-right: 1px solid #d8dce5;
}
.b-black {
    border: 1px solid #000000;
}
.b-ff0036 {
    border: 1px solid #ff0036;
}
.b-warning {
    border:1px solid #EB9E05;
}
.b-ddecf8{
    border: 1px solid #ddecf8;
}
.br-ddecf8{
    border-right: 1px solid #ddecf8;
}

.b-1e83d3{
    border: 1px solid #1e83d3;
}