@import "../variable";
.evaluation {
  &__switch {
    @include flex(space-between);
    margin-bottom: 10px;
  }

  &__table {
    &--reply {
      width: 100%;
      background-color: rgb(243, 243, 243);
      padding: 10px;
      border-radius: 5px;
      margin-top: 5px;
    }

    &--imgs {
      @include flex(flex-start);
      margin-top: 5px;
      flex-wrap: wrap;

      img {
        $s: 50px;
        width: $s;
        height: $s;
        display: block;
        margin-right: 3px;
      }
    }
  }

  /deep/ .text--center {
    text-align: center;
  }

  /deep/ .btn-container {
    @include flex;
  }

  .tw{
    @include flex(flex-start);
    // vertical-align: middle;
  }

  .name {
    width:120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }

  .user--avatar{
    width: 60px;
    border: 3px;
    margin-right: 5px;
  }
}
