<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.gruul.account.mapper.MiniAccountFormidMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.medusa.gruul.account.api.entity.MiniAccountFormid">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="is_deleted" property="deleted"/>
        <result column="update_time" property="updateTime"/>
        <result column="form_value" property="formValue"/>
        <result column="expiration_time" property="expirationTime"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        tenant_id,
        is_deleted,
        update_time,
        id, form_value, expiration_time, user_id
    </sql>

</mapper>
