<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.gruul.goods.mapper.manager.ProductAttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.medusa.gruul.goods.api.model.vo.manager.ProductAttributeVo">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tenant_id,
        create_time,
        update_time,
        is_deleted,
        id, product_id, name, value
    </sql>

    <select id="queryByProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_attribute
        where product_id = #{productId}
    </select>

</mapper>
