@include b(create) {
  @include flex();
  background: #ffffff;

  @include e(avatar) {
    @include flex(flex-start);

    @include m(image) {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      margin-right: 20px;

      i {
        font-size: 60px;
      }
    }
  }

  @include e(ShopName) {
    @include flex(flex-start);

    @include m(input) {
      width: 350px;
      margin-right: 15px;
    }
  }

  @include e(type) {
    @include flex();
  }

  @include e(footer) {
    text-align: center;
    margin-top: 100px;
  }
}

.type__item {
  position: relative;
  width: 270px;
  height: 189px;
  background: url("https://medusa-small-file.oss-cn-hangzhou.aliyuncs.com/gruul/20200228/shops.png");
  background-size: cover;
  cursor: pointer;

  .title {
    position: absolute;
    left: 30px;
    top: 40px;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
  }

  .info {
    position: absolute;
    left: 30px;
    top: 65px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.53);
  }

  .description {
    position: absolute;
    left: 38px;
    top: 130px;
    font-size: 14px;
    color: #4C4C4C;
  }
}

.type__item--active {
  background: url("https://medusa-small-file.oss-cn-hangzhou.aliyuncs.com/gruul/20200228/shop-active.png");
  background-size: cover;
}